<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="description" content="grafica digital e rapida">
  <meta name="keywords" content="grafica rapida, grafica, impressão digital, sublimação">
  <title>Criativa Digital</title>
  <!-- Bootstrap scripts -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <!-- Bootstrap scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" type="image/png" sizes="16x16" href="imagens/home/favicon-16x16.png">
</head>

<body>
  <header class="big-banner">

     <!-- NAV -->
     <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class=" container-fluid">
        <a class="navbar-brand" href="/">
          <img src="imagens/home/logo.png" alt="Criativa" width="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quemSomos">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Produtos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ondeEstamos">Onde Estamos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Fecha NAV -->
  </header>

  <main>
    <div class="cor">
      <div class="container" style="padding-top: 100px; padding-bottom: 80px;">
        <h1 style="font-size: 27px; padding-bottom: 25px;">Produtos

        </h1>
        <div class="row row-cols-1 row-cols-md-4 g-4">

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/adesivo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Adesivo</h5>
                <p class="card-text">Deixe sua Imaginação Voar com Adesivos Vinil Personalizados! Transforme suas ideias
                  em adesivos únicos e surpreendentes.</p>
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/banner.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Banner</h5>
                <p class="card-text">Divulgação Profissional! Impacte em eventos, empresas e
                  negócios com nossos banners sob medida.
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/brindes.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Brindes</h5>
                <p class="card-text">Surpreenda e Encante Seus Clientes! Presenteie com carinho e faça sua marca ficar
                  na memória de todos. </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/ima de geladeira.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Imã de geladeira</h5>
                <p class="card-text"> Sua Marca Sempre em Evidência! Mantenha-se presente na rotina dos clientes com
                  nossos imãs personalizados, deixando sua marca marcada nas geladeiras de quem importa.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/panfleto.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Panfletos</h5>
                <p class="card-text"> Divulgue com Impacto e Criatividade! Transmita sua mensagem de forma atraente e
                  memorável, destacando-se em meio à concorrência.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/canecas.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Caneca</h5>
                <p class="card-text">Torne seus momentos especiais ainda mais memoráveis com nossas canecas
                  personalizadas. Desperte sorrisos e compartilhe suas lembranças com um toque de carinho em cada gole!
                </p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/cartao de visita.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cartões de Visita</h5>
                <p class="card-text">Sua Marca em Destaque! Deixe uma impressão marcante por onde passar. Nossos cartões
                  de visita exclusivos são a porta de entrada para conexões profissionais duradouras.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/envelope.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Envelopes</h5>
                <p class="card-text"> Envie suas mensagens com elegância e profissionalismo. Nossos envelopes
                  personalizados são a embalagem perfeita para suas correspondências!.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/fachadas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Fachadas em Lona</h5>
                <p class="card-text"> Impacto Visual que Impulsiona Seu Negócio! Atraia a atenção do público e transmita
                  sua mensagem com grande impacto e estilo.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/CARDAPIO.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cardápios</h5>
                <p class="card-text">Sabores Impressos com Elegância! Apresente suas delícias de forma cativante e
                  única.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/SUBLIMAÇÃO.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Papel sublimático</h5>
                <p class="card-text">Com nossa tecnologia de ponta, o papel sublimático é a ferramenta ideal para dar
                  vida às suas criações mais coloridas e criativas. Surpreenda-se com a qualidade e vivacidade das
                  estampas!</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="imagens/produtos/marca-pagina.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Marcador de Página</h5>
                <p class="card-text">Leitura com Estilo! Destaque-se em suas aventuras literárias com nossos marcadores
                  exclusivos, adicionando personalidade e elegância a cada página.</p>
              </div>
            </div>
          </div>



        </div>


      </div>




  </main>


  <!-- inicio footer -->
  <footer>

    <div class="texto-nav text-light" id="contato" style="padding-top: 80px;padding-bottom: 80px;">
      <div class="container">
        <div class="row ">
          <!-- sobre nos -->
          <div class="col-md-4">
            <h2>Sobre Nós</h2>
            <p style="font-size:18px">
              Desde 2013 a nossa empresa valoriza o atendimento
              de grande qualidade, bem como a excelência em
              todos os materiais que produzimos. Nosso
              principal objetivo é a sua satisfação, além do
              atendimento especial.
            </p>
          </div>
          <!-- sobre nos -->
          <!-- contatos -->
          <div class="col-md-4">
            <h2>Contatos</h2>
            <div class="d-flex container-fluid" style="min-height:88px">
              <img src="imagens/home/logo-loca.png" alt="Localização"
                style="width: 13%;height:13%; padding-right:10px;">
              <p style="font-size:18px">
                Rua Marquês do Herval, 200
                São José - Recife - PE - 50020-030
              </p>
            </div>

            <div class="d-flex container-fluid	" style="padding-top: 10px;min-height:88px">
              <img src="imagens/home/logo-tele.png" alt="Telefone" style="width: 16%;height:16%;">
              <p style="font-size: 22px">
                (81) 3225-0611
              </p>
            </div>

            <div class="d-flex container-fluid" style="padding-top: 10px;min-height:88px">
              <img src="imagens/home/logo-email.png" alt="Email" style="width: 13%;height:13%; padding-right:10px">
              <p style="font-size: 18px">
                criativa202@gmail.com
              </p>
            </div>
          </div>
          <!-- contatos -->
          <!-- midia -->
          <div class="col-md-4">
            <h2>Midias Sociais</h2>
            <p>
              Fique por dentro de todas
              as novidades.
            </p>
            <div class="d-flex justify-content-start" style="padding-left: 50px; padding-top: 15px;height: 23%;">

              <a href="https://api.whatsapp.com/send?phone=558132250611" target="_blank">
                <img src="imagens/home/logo-zap.png" alt="Whatsapp"
                  style="width: 100%;height:100%; padding-right: 25px;">
              </a>

              <a href="https://instagram.com/criativadigital202?igshid=MzRlODBiNWFlZA==" target="_blank">
                <img src="imagens/home/logo-insta.png" alt="Instagram" style="width: 100%;height:100%;">
              </a>

            </div>
          </div>
          <!-- midia -->
        </div>
      </div>
    </div>

  </footer>
  <!-- final footer -->

</body>

</html>